.background {
  background: center no-repeat url(background.jpg);
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: rgb(255, 202, 40);
}

/*.splash {*/
  /*background-image: url(splash.png);*/
/*}*/

.watermark {
  background-image: url(watermark.png);
}