<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http pattern="/rest/**" create-session="stateless" entry-point-ref="restRequestEntryPoint" use-expressions="true">
		<intercept-url pattern="/**" access="permitAll" />
		<custom-filter ref="restRequestParameterProcessingFilter" after="PRE_AUTH_FILTER" />
	</http>

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/login.view" access="permitAll" />

		<intercept-url pattern="/accessDenied.view" access="permitAll" />
		<intercept-url pattern="/videoPlayer.view" access="permitAll" />
		<intercept-url pattern="/coverArt.view" access="permitAll" />
		<intercept-url pattern="/stream/**" access="permitAll" />
		<intercept-url pattern="/share/**" access="permitAll" />
		<intercept-url pattern="/style/**" access="permitAll" />
		<intercept-url pattern="/icons/**" access="permitAll" />
		<intercept-url pattern="/flash/**" access="permitAll" />
		<intercept-url pattern="/script/**" access="permitAll" />
		<intercept-url pattern="/crossdomain.xml" access="permitAll" />

		<intercept-url pattern="/personalSettings.view" access="hasRole('ROLE_SETTINGS')" />
		<intercept-url pattern="/lastFmSettings.view" access="hasRole('ROLE_SETTINGS')" />
		<intercept-url pattern="/passwordSettings.view" access="hasRole('ROLE_SETTINGS')" />
		<intercept-url pattern="/playerSettings.view" access="hasRole('ROLE_SETTINGS')" />
		<intercept-url pattern="/shareSettings.view" access="hasRole('ROLE_SETTINGS')" />

		<intercept-url pattern="/generalSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/advancedSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/userSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/mediaFolderSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/networkSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/transcodingSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/internetRadioSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/searchSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/musicCabinetSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/podcastSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/radioSettings.view" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/db.view" access="hasRole('ROLE_ADMIN')" />

		<intercept-url pattern="/deletePlaylist.view" access="hasRole('ROLE_PLAYLIST')" />
		<intercept-url pattern="/savePlaylist.view" access="hasRole('ROLE_PLAYLIST')" />

		<intercept-url pattern="/download.view" access="hasRole('ROLE_DOWNLOAD')" />

		<intercept-url pattern="/upload.view" access="hasRole('ROLE_UPLOAD')" />

		<intercept-url pattern="/createShare.view" access="hasRole('ROLE_SHARE')" />

		<intercept-url pattern="/changeCoverArt.view" access="hasRole('ROLE_COVERART')" />
		<intercept-url pattern="/artistGenres.view"	access="hasRole('ROLE_COVERART')"/>
		<intercept-url pattern="/editTags.view" access="hasRole('ROLE_COVERART')" />
		<intercept-url pattern="/editArtist.view" access="hasRole('ROLE_COVERART')" />

		<intercept-url pattern="/setMusicFileInfo.view" access="hasRole('ROLE_COMMENT')" />

		<intercept-url pattern="/podcastReceiverAdmin.view" access="hasRole('ROLE_PODCAST')" />

		<intercept-url pattern="/*" access="hasRole('ROLE_STREAM')" />

		<form-login login-page="/login.view" default-target-url="/index.view" always-use-default-target="true" />
		
		<remember-me key="subsonic"/>
	</http>

    <beans:bean id="restRequestParameterProcessingFilter" class="net.sourceforge.subsonic.security.RESTRequestParameterProcessingFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>
    
    <beans:bean id="restRequestEntryPoint" class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
    	<beans:property name="realmName" value="REST requests realm" />
    	<beans:property name="key" value="acegi" />
    </beans:bean>
    
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="securityService">
			<password-encoder ref="passwordEncoder">
				<salt-source ref="saltSource" />
			</password-encoder>
		</authentication-provider>
	</authentication-manager>

</beans:beans>