<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- DAO's -->

    <bean id="playerDao" class="net.sourceforge.subsonic.dao.PlayerDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="internetRadioDao" class="net.sourceforge.subsonic.dao.InternetRadioDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="musicFileInfoDao" class="net.sourceforge.subsonic.dao.MusicFileInfoDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="musicFolderDao" class="net.sourceforge.subsonic.dao.MusicFolderDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="userDao" class="net.sourceforge.subsonic.dao.UserDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="transcodingDao" class="net.sourceforge.subsonic.dao.TranscodingDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="podcastDao" class="net.sourceforge.subsonic.dao.PodcastDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="avatarDao" class="net.sourceforge.subsonic.dao.AvatarDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="shareDao" class="net.sourceforge.subsonic.dao.ShareDao">
        <property name="daoHelper" ref="daoHelper"/>
    </bean>

    <bean id="daoHelper" class="net.sourceforge.subsonic.dao.DaoHelper"/>


    <!-- Services -->

    <bean id="musicFileService" class="net.sourceforge.subsonic.service.MusicFileService" init-method="init">
        <property name="securityService" ref="securityService"/>
        <property name="settingsService" ref="settingsService"/>
        <property name="musicFileCache" ref="musicFileCache"/>
        <property name="childDirCache" ref="childDirCache"/>
        <property name="coverArtCache" ref="coverArtCache"/>
    </bean>

    <bean id="securityService" class="net.sourceforge.subsonic.service.SecurityService">
        <property name="settingsService" ref="settingsService"/>
        <property name="userDao" ref="userDao"/>
        <property name="userCache" ref="userCache"/>
    </bean>

    <bean id="settingsService" class="net.sourceforge.subsonic.service.SettingsService" init-method="init">
        <property name="internetRadioDao" ref="internetRadioDao"/>
        <property name="musicFolderDao" ref="musicFolderDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="avatarDao" ref="avatarDao"/>
        <property name="versionService" ref="versionService"/>
    </bean>

    <bean id="searchService" class="net.sourceforge.subsonic.service.SearchService" init-method="schedule" depends-on="metaDataParserFactory">
        <property name="settingsService" ref="settingsService"/>
        <property name="securityService" ref="securityService"/>
        <property name="musicFileService" ref="musicFileService"/>
        <property name="musicInfoService" ref="musicInfoService"/>
        <property name="luceneSearchService" ref="luceneSearchService"/>
        <property name="artistRelationService" ref="artistRelationService"/>
        <property name="artistTopTracksService" ref="artistTopTracksService"/>
        <property name="artistTopTagsService" ref="artistTopTagsService"/>
        <property name="artistInfoService" ref="artistInfoService"/>
        <property name="albumInfoService" ref="albumInfoService"/>
        <property name="scrobbledTracksService" ref="scrobbledTracksService"/>
        <property name="subsonicIndexService" ref="subsonicIndexService"/>
        <property name="playlistGeneratorService" ref="playlistGeneratorService"/>
        <property name="tagInfoService" ref="tagInfoService"/>
        <property name="searchIndexUpdateExecutorService" ref="searchIndexUpdateExecutorService"/>
    </bean>

    <bean id="luceneSearchService" class="net.sourceforge.subsonic.service.LuceneSearchService">
        <property name="musicFileService" ref="musicFileService"/>
    </bean>

    <bean id="networkService" class="net.sourceforge.subsonic.service.NetworkService" init-method="init">
        <property name="settingsService" ref="settingsService"/>
    </bean>

    <bean id="playerService" class="net.sourceforge.subsonic.service.PlayerService" init-method="init">
        <property name="playerDao" ref="playerDao"/>
        <property name="statusService" ref="statusService"/>
        <property name="securityService" ref="securityService"/>
        <property name="transcodingService" ref="transcodingService"/>
    </bean>

    <bean id="playlistService" class="net.sourceforge.subsonic.service.PlaylistService">
        <property name="settingsService" ref="settingsService"/>
        <property name="securityService" ref="securityService"/>
        <property name="musicFileService" ref="musicFileService"/>
    </bean>

    <bean id="versionService" class="net.sourceforge.subsonic.service.VersionService"/>

    <bean id="statusService" class="net.sourceforge.subsonic.service.StatusService"/>

    <bean id="musicInfoService" class="net.sourceforge.subsonic.service.MusicInfoService">
        <property name="musicFileInfoDao" ref="musicFileInfoDao"/>
        <property name="musicFileService" ref="musicFileService"/>
        <property name="securityService" ref="securityService"/>
    </bean>

    <bean id="musicIndexService" class="net.sourceforge.subsonic.service.MusicIndexService">
        <property name="settingsService" ref="settingsService"/>
        <property name="musicFileService" ref="musicFileService"/>
    </bean>

    <bean id="audioScrobblerService" class="net.sourceforge.subsonic.service.AudioScrobblerService">
        <property name="settingsService" ref="settingsService"/>
    </bean>

    <bean id="transcodingService" class="net.sourceforge.subsonic.service.TranscodingService">
        <property name="transcodingDao" ref="transcodingDao"/>
        <property name="settingsService" ref="settingsService"/>
        <property name="playerService" ref="playerService"/>
    </bean>

    <bean id="shareService" class="net.sourceforge.subsonic.service.ShareService">
        <property name="shareDao" ref="shareDao"/>
        <property name="settingsService" ref="settingsService"/>
        <property name="securityService" ref="securityService"/>
        <property name="musicFileService" ref="musicFileService"/>
    </bean>

    <bean id="podcastService" class="net.sourceforge.subsonic.service.PodcastService" init-method="init">
        <property name="podcastDao" ref="podcastDao"/>
        <property name="settingsService" ref="settingsService"/>
        <property name="securityService" ref="securityService"/>
        <property name="musicInfoService" ref="musicInfoService"/>
    </bean>
    
    <bean id="adService" class="net.sourceforge.subsonic.service.AdService">
        <property name="adInterval" value="4"/>
    </bean>

    <bean id="jukeboxService" class="net.sourceforge.subsonic.service.JukeboxService">
        <property name="statusService" ref="statusService"/>
        <property name="transcodingService" ref="transcodingService"/>
        <property name="audioScrobblerService" ref="audioScrobblerService"/>
        <property name="musicInfoService" ref="musicInfoService"/>
        <property name="settingsService" ref="settingsService"/>
        <property name="securityService" ref="securityService"/>
    </bean>

    <bean id="metaDataParserFactory" class="net.sourceforge.subsonic.service.metadata.MetaDataParserFactory" init-method="init">
        <property name="parsers">
            <list>
                <bean class="net.sourceforge.subsonic.service.metadata.JaudiotaggerParser"/>
                <bean class="net.sourceforge.subsonic.service.metadata.FFmpegParser">
                    <property name="transcodingService" ref="transcodingService"/>
                </bean>
                <bean class="net.sourceforge.subsonic.service.metadata.DefaultMetaDataParser"/>
            </list>
        </property>
    </bean>

    <!-- AJAX services -->

    <bean id="ajaxMultiService" class="net.sourceforge.subsonic.ajax.MultiService">
        <property name="networkService" ref="networkService"/>
    </bean>

    <bean id="ajaxNowPlayingService" class="net.sourceforge.subsonic.ajax.NowPlayingService">
        <property name="playerService" ref="playerService"/>
        <property name="statusService" ref="statusService"/>
        <property name="musicFileService" ref="musicFileService"/>
        <property name="settingsService" ref="settingsService"/>
        <property name="albumInfoService" ref="albumInfoService"/>
    </bean>

    <bean id="ajaxPlaylistService" class="net.sourceforge.subsonic.ajax.PlaylistService">
        <property name="playerService" ref="playerService"/>
        <property name="musicFileService" ref="musicFileService"/>
        <property name="jukeboxService" ref="jukeboxService"/>
        <property name="transcodingService" ref="transcodingService"/>
        <property name="settingsService" ref="settingsService"/>
        <property name="playlistGeneratorService" ref="playlistGeneratorService"/>
    </bean>

    <bean id="ajaxLyricsService" class="net.sourceforge.subsonic.ajax.LyricsService"/>

    <bean id="ajaxCoverArtService" class="net.sourceforge.subsonic.ajax.CoverArtService">
        <property name="securityService" ref="securityService"/>
        <property name="musicFileService" ref="musicFileService"/>
    </bean>

    <bean id="ajaxTagService" class="net.sourceforge.subsonic.ajax.TagService">
        <property name="musicFileService" ref="musicFileService"/>
        <property name="metaDataParserFactory" ref="metaDataParserFactory"/>
    </bean>

    <bean id="ajaxTransferService" class="net.sourceforge.subsonic.ajax.TransferService"/>

    <bean id="ajaxChatService" class="net.sourceforge.subsonic.ajax.ChatService" init-method="init">
        <property name="securityService" ref="securityService"/>
        <property name="chatCache" ref="chatCache"/>
    </bean>


	<!-- MUSICCABINET copy/paste (propertyConfigurer is Subsonic specific) -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		depends-on="settingsService">
		<!-- This allows for overriding any property found in property file
		     by setting a corresponding system.property variable.
		-->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
		<property name="properties">
			<props>
				<prop key="musiccabinet.jdbc.driverClassName">org.postgresql.Driver</prop>
				<prop key="musiccabinet.jdbc.url">jdbc:postgresql://localhost:5432/musiccabinet</prop>
				<prop key="musiccabinet.jdbc.initialurl">jdbc:postgresql://localhost:5432/template1</prop>
				<prop key="musiccabinet.jdbc.username">postgres</prop>
			</props>
		</property>
	</bean>


	<!--  SERVICES -->

	<bean id="databaseAdministrationService" class="com.github.hakko.musiccabinet.service.DatabaseAdministrationService">
		<property name="databaseAdministrationDao" ref="databaseAdministrationDao" />	
	</bean>

	<bean id="throttleService" class="com.github.hakko.musiccabinet.service.ThrottleService">
	</bean>

	<bean id="artistInfoService" class="com.github.hakko.musiccabinet.service.ArtistInfoService">
		<property name="artistInfoClient" ref="artistInfoClient" />
		<property name="artistInfoDao" ref="artistInfoDao" />
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="musicDirectoryDao" ref="musicDirectoryDao" />
	</bean>	

	<bean id="albumInfoService" class="com.github.hakko.musiccabinet.service.AlbumInfoService">
		<property name="albumInfoClient" ref="albumInfoClient" />
		<property name="albumInfoDao" ref="albumInfoDao" />
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
	</bean>	

	<bean id="artistRelationService" class="com.github.hakko.musiccabinet.service.ArtistRelationService">
		<property name="artistSimilarityClient" ref="artistSimilarityClient" />
		<property name="artistRelationDao" ref="artistRelationDao" />
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
	</bean>	

	<bean id="artistTopTracksService" class="com.github.hakko.musiccabinet.service.ArtistTopTracksService">
		<property name="artistTopTracksClient" ref="artistTopTracksClient" />
		<property name="artistTopTracksDao" ref="artistTopTracksDao" />
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
	</bean>	

	<bean id="artistTopTagsService" class="com.github.hakko.musiccabinet.service.ArtistTopTagsService">
		<property name="artistTopTagsClient" ref="artistTopTagsClient" />
		<property name="artistTopTagsDao" ref="artistTopTagsDao" />
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
	</bean>	

	<bean id="trackRelationService" class="com.github.hakko.musiccabinet.service.TrackRelationService">
		<property name="trackSimilarityClient" ref="trackSimilarityClient" />
		<property name="trackRelationDao" ref="trackRelationDao" />
		<property name="musicFileDao" ref="musicFileDao" />
	</bean>
	
	<bean id="scrobbledTracksService" class="com.github.hakko.musiccabinet.service.ScrobbledTracksService">
		<property name="scrobbledTracksClient" ref="scrobbledTracksClient" />
		<property name="trackPlayCountDao" ref="trackPlayCountDao" />
	</bean>

	<bean id="tagService" class="com.github.hakko.musiccabinet.service.TagService">
		<property name="tagDao" ref="tagDao" />
	</bean>

	<bean id="tagInfoService" class="com.github.hakko.musiccabinet.service.TagInfoService">
		<property name="tagInfoClient" ref="tagInfoClient" />
		<property name="tagInfoDao" ref="tagInfoDao" />
		<property name="tagDao" ref="tagDao" />
	</bean>

	<bean id="artistRecommendationService" class="com.github.hakko.musiccabinet.service.ArtistRecommendationService">
		<property name="artistRecommendationDao" ref="artistRecommendationDao" />
		<property name="musicDirectoryDao" ref="musicDirectoryDao" />
	</bean>

	<bean id="searchIndexUpdateExecutorService" class="com.github.hakko.musiccabinet.service.SearchIndexUpdateExecutorService">
		<property name="throttleService" ref="throttleService" />
	</bean>

	<bean id="subsonicIndexService" class="com.github.hakko.musiccabinet.service.SubsonicIndexService">
		<property name="musicFileDao" ref="musicFileDao" />
		<property name="musicDirectoryDao" ref="musicDirectoryDao" />
		<property name="playlistGeneratorDao" ref="playlistGeneratorDao" />
	</bean>

	<bean id="itunesMusicLibraryService" class="com.github.hakko.musiccabinet.service.ItunesMusicLibraryService">
		<property name="musicFileDao" ref="musicFileDao" />
	</bean>

	<bean id="playlistGeneratorService" class="com.github.hakko.musiccabinet.service.PlaylistGeneratorService">
		<property name="playlistGeneratorDao" ref="playlistGeneratorDao" />
		<property name="musicFileDao" ref="musicFileDao" />
		<property name="musicDirectoryDao" ref="musicDirectoryDao" />
		<property name="trackRelationService" ref="trackRelationService" />
	</bean>
	
	
	<!--  LAST.FM WS CLIENTS -->
	<bean id="artistInfoClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistInfoClient">
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="throttleService" ref="throttleService" />
	</bean>	

	<bean id="albumInfoClient" class="com.github.hakko.musiccabinet.ws.lastfm.AlbumInfoClient">
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="throttleService" ref="throttleService" />
	</bean>	

	<bean id="artistSimilarityClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistSimilarityClient">
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="throttleService" ref="throttleService" />
	</bean>	

	<bean id="artistTopTracksClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistTopTracksClient">
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="throttleService" ref="throttleService" />
	</bean>	

	<bean id="artistTopTagsClient" class="com.github.hakko.musiccabinet.ws.lastfm.ArtistTopTagsClient">
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="throttleService" ref="throttleService" />
	</bean>	

	<bean id="trackSimilarityClient" class="com.github.hakko.musiccabinet.ws.lastfm.TrackSimilarityClient">
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="throttleService" ref="throttleService" />
	</bean>
	
	<bean id="scrobbledTracksClient" class="com.github.hakko.musiccabinet.ws.lastfm.ScrobbledTracksClient">
		<property name="webserviceHistoryDao" ref="webserviceHistoryDao" />
		<property name="throttleService" ref="throttleService" />
	</bean>
	
	<bean id="tagInfoClient" class="com.github.hakko.musiccabinet.ws.lastfm.TagInfoClient">
		<property name="throttleService" ref="throttleService" />
	</bean>


	<!--  DAOs  -->

	<bean id="musicDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcMusicDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="musicFileDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcMusicFileDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="musicDirectoryDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcMusicDirectoryDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="trackPlayCountDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTrackPlayCountDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="webserviceHistoryDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcWebserviceHistoryDao">
		<property name="dataSource" ref="dataSource" />
		<property name="musicDao" ref="musicDao" />
	</bean>

	<bean id="trackRelationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTrackRelationDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="artistInfoDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistInfoDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="albumInfoDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcAlbumInfoDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="artistRelationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistRelationDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="artistTopTracksDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistTopTracksDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="artistTopTagsDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistTopTagsDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="playlistGeneratorDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcPlaylistGeneratorDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="artistRecommendationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcArtistRecommendationDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="tagDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTagDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="tagInfoDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcTagInfoDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="functionCountDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcFunctionCountDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="databaseAdministrationDao" class="com.github.hakko.musiccabinet.dao.jdbc.JdbcDatabaseAdministrationDao">
		<property name="dataSource" ref="dataSource" />
		<property name="initialDataSource" ref="initialDataSource" />
	</bean>


	<!--  DATA SOURCE -->

	<bean id="dataSource" destroy-method="close"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${musiccabinet.jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${musiccabinet.jdbc.url}" />
		<property name="user" value="${musiccabinet.jdbc.username}" />
		<property name="password" value="${musiccabinet.jdbc.password}" />

		<property name="testConnectionOnCheckout" value="true" />
		<property name="acquireRetryAttempts" value="1" />
	</bean>

	<bean id="initialDataSource" destroy-method="close"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${musiccabinet.jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${musiccabinet.jdbc.initialurl}" />
		<property name="user" value="${musiccabinet.jdbc.username}" />
		<property name="password" value="${musiccabinet.jdbc.password}" />
	</bean>
	
</beans>