#tag {
  width: 100%;
}
.inner-scroll {
  max-height: 70%;
  overflow-y: scroll;
}
.nav>li>a {
  padding: 5px 5px;
}
.nav>li>a>img {
  display: block;
  margin: auto;
}
ul.nav-tabs {
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.no-overflow, .dense {
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
  vertical-align: text-bottom;
}
.thumbnail img {
  height: auto;
  max-width: 100%;
}
.detail > .detail {
  display: inline;
}
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
.play-add-download {
  white-space: nowrap;
}
span.off {
    cursor: pointer;
    float:left;
    padding: 2px 6px;
    margin: 2px;
    background: #FFF;
    color: #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #CCC;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space: nowrap;
}

span.on {
    cursor: pointer;
    float:left;
    padding: 2px 6px;
    margin: 2px;
    background: #9E7;
    color: #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space: nowrap;
}

span.off:hover {
    background: #9E7;opacity:0.7;
    border: solid 1px #999;
    text-decoration: none;
}
.btn-play-dd {
  height: 22px;
  padding: 0px 6px 1px 6px;
}
.play-label {
  float: left;
  padding-right: 5px;
}
.relative-container {
  position: relative;
}
.grid-item {
  min-height: 128px;

}
.play-label .btn-group {
  position: absolute;
  bottom: 30px;
}
.album-title {
  width: 70%;
}
.play-label, .album-title {
  float: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-star {
  padding: 4px 6px;
}
.songs {
  overflow: visible !important;
}